<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Referrals</Data></Cell>
        <Cell><Data ss:Type="String">Sign up</Data></Cell>
      </Row>
    <% @users.each do |product| %>
      <Row>
        <Cell><Data ss:Type="Email"><%= product.email %></Data></Cell>
        <Cell><Data ss:Type="Referrals"><%= product.count %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.created_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>