<!-- Homepage Copy and Design -->
<div class="row">
  	<div class="col-lg-10 col-lg-offset-1">
		<h2>Sign up now!</h2>
		<p class="lead">Sign up for this new cool service and we'll let you know when it's ready!</p>
		<%= render 'form' %>
	</div>
</div>

<!-- Source URL -->
<div class="row" style="margin-top:30px;">
  	<div class="col-lg-10 col-lg-offset-1">
		<p><a href="https://github.com/kimmanis/LaunchPage" target="_blank">Landing page by LaunchPage</a></p>
	</div>
</div>
<!-- End Source URL -->