<div class="row">
  	<div class="col-lg-10 col-lg-offset-1">
		<h2>Sign up now!</h2>
		<p class="lead">Sign up for this new cool service and we'll let you know when it's ready!</p>
		<%= render 'form' %>
	</div>
</div>