<div class="row">
  	<div class="col-lg-10 col-lg-offset-1">
		<h2>We got you!</h2>
		<p class="lead">Share your custom URL with friends and we'll keep track of how many people you refer.</p>
		<p>
			<% if @user.count %>
			Your referrals: <%= @user.count %><br />
			<% else %>
			You haven't referred anyone yet.<br />
			<% end %>
		</p>
		<p>
		  <b>Referral URL:</b>
		  <input type="email" class="form-control" id="exampleInputEmail1" value="<%= "#{root_url}?code=#{@user.code}" %>">
		</p>
		[add share buttons]
	</div>
</div>


