<div class="row text-center">
  	<div class="col-lg-8 col-lg-offset-2">
		<p>Enter your password to access the admin dashboard</p>
		<form class="form-inline" role="form" accept-charset="UTF-8" action="<%= root_url %>/lock/unlock" method="post">
			<input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ch5GAIJSUvsKnlWMiUfAbpuai+s+9l9A4C/A+3tc/44=" />
		 	<div class="form-group">
		   		<input id="password" name="password" type="password" placeholder="password" class="form-control" />
		  	</div>
		  	<div class="form-group">
		    	<input name="commit" type="submit" value="Sign in" class="btn btn-default" />
		  	</div>
		</form>
	</div>
</div>

